name: Build and package

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        job: [package-template, test-template]

    steps:
      - uses: actions/checkout@v3

      - name: Set up .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '10.x'

      - name: Get latest Terminal.Gui pre-release version
        id: get_version
        run: |
          url="https://api.nuget.org/v3-flatcontainer/terminal.gui/index.json"
          latest_version=$(curl -s $url | jq -r '.versions[]' | grep -E -- '-alpha\.' | awk -F'.' '{print $NF, $0}' | sort -n | tail -n 1 | cut -d' ' -f2-)
          echo "latest_prerelease=$latest_version" >> $GITHUB_OUTPUT

      - name: Update Terminal.Gui dependency in template
        run: |
          sed -i 's/\(<PackageReference Include="Terminal.Gui" Version="\)[^"]*\(".*\)/\1${{ steps.get_version.outputs.latest_prerelease }}\2/' templates/tui-simple/tui-simple.csproj
          sed -i 's/\(<PackageReference Include="Terminal.Gui" Version="\)[^"]*\(".*\)/\1${{ steps.get_version.outputs.latest_prerelease }}\2/' templates/tui-designer/tui-designer.csproj
          sed -i 's/\(<PackageVersion>\)[^<]*\(<\/PackageVersion>\)/\1${{ steps.get_version.outputs.latest_prerelease }}\2/' Terminal.Gui.templates.csproj

      - name: Build and Package Template
        if: matrix.job == 'package-template'
        run: |
          dotnet restore
          dotnet list package
          dotnet pack

      - name: Publish to NuGet
        if: matrix.job == 'package-template' && contains(github.ref, 'refs/tags/v')
        run: dotnet nuget push ./bin/Release/*.nupkg --api-key ${{ secrets.NUGET_KEY }} --source https://api.nuget.org/v3/index.json

      - name: Test Template Install and Build
        if: matrix.job == 'test-template'
        run: |
          # Install the template locally
          dotnet new install templates/tui-simple

          # Create a new project from the template
          mkdir testapp
          cd testapp
          dotnet new tui-simple -n myproj
          cd myproj

          # Build the generated project
          dotnet build
